{% extends 'base.html' %}
{% from 'macros.html' import navbar %}

{% block main %}
{{ navbar('/', usuario) }}
<h2 class="text-center">Hi! {{ usuario.name }}</h2>
<div class="people">
  <svg xmlns="http://www.w3.org/2000/svg" width="200" height="100" viewBox="0 0 512 512">
     <path d="M396 155v16.91c0 77.2-62.8 140-140 140l-40-282L396 155z" fill="#{{ usuario.face2 }}"/>
     <path d="M256 19.91v292c-77.2 0-140-62.8-140-140 0 0 15.855-152 140-152z" fill="#{{ usuario.face }}"/>
     <path d="M396 140v15h-85c-23.82 0-44.96-14.1-54.55-35H256l-30-60 30-60c77.2 0 140 62.8 140 140z" fill="#{{ usuario.hair2 }}"/>
     <path d="M116 140v32h30v-32c0-39.152 20.564-73.586 51.455-93.084A59.912 59.912 0 0 0 196 60c0 33.08 26.92 60 60 60V0c-77.196 0-140 62.804-140 140z" fill="#{{ usuario.hair }}"/>
     <circle cx="201.86" cy="175" r="15" fill="#{{ usuario.eyes }}"/>
     <circle cx="301.86" cy="175" r="15" fill="#{{ usuario.eyes }}"/>
  </svg>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">

      <!-- formulario message -->
      <form action="/message" method="post" class="bg-white mt-1 p-4 text-black ms-5">
        <div class="mb-3 ">
          <label for="" class="form-label">Post a message</label>
          <textarea name="mensaje" id="" cols="120" rows="5" required></textarea>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary fw-bold">Post a message</button>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- params -->
<div class="container mt-5 bg-primary bg-opacity-25 p-4">
  {% for ms in mensajes %}
    <div class="row">
      <div class="list-group barra overflow-auto mt-2">
        <h6><b class="fs-4">{{ms.name}} </b><span class="float-end fs-6"> {{ms.date}} </span></h6>

        <div class="avatar">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 512 512">
             <path d="M396 155v16.91c0 77.2-62.8 140-140 140l-40-282L396 155z" fill="#{{ ms.face2 }}"/>
             <path d="M256 19.91v292c-77.2 0-140-62.8-140-140 0 0 15.855-152 140-152z" fill="#{{ ms.face }}"/>
             <path d="M396 140v15h-85c-23.82 0-44.96-14.1-54.55-35H256l-30-60 30-60c77.2 0 140 62.8 140 140z" fill="#{{ ms.hair2 }}"/>
             <path d="M116 140v32h30v-32c0-39.152 20.564-73.586 51.455-93.084A59.912 59.912 0 0 0 196 60c0 33.08 26.92 60 60 60V0c-77.196 0-140 62.804-140 140z" fill="#{{ ms.hair }}"/>
             <circle cx="201.86" cy="175" r="15" fill="#{{ ms.eyes }}"/>
             <circle cx="301.86" cy="175" r="15" fill="#{{ ms.eyes }}"/>
          </svg>
        </div>

        
        <!-- mensaje -->
        <p><a class="list-group-item list-group-item-action">{{ms.message}}</a></p>

        <span>
          <h6 id="lkk{{ms.id}}" class="badge bg-primary rounded-pill"> {{ms.likes}}</h6>
        </span>

        <form action="/like/" + {{ms.id}} method="post" class="mb-2">
          <input type="hidden" name="like" value=`${ms.id}`>
          <a id="{{ms.id}}" onclick="agregarlikes(event, '{{ms.id}}')" type="button"  class="float-start" data-like="megusta"><i class="bi bi-hand-thumbs-up-fill ms-2"></i></a>
          <a onclick="showForm('{{ms.id}}')" type="button" class="ms-2"><i class="bi bi-chat-right-text-fill"></i></a>          
        </form>

        <!-- <button type="button" class="btn btn-outline-primary">Share</button> -->
        <div>
        </div>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-10 offset-1 bg-white">
        {% for comentario in comentarios %}
        {% if comentario.message_id == ms.id %}
        <div class="">
          <div class="row">{{comentario.name}} :
            <div class="avatar">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512">
                 <path d="M396 155v16.91c0 77.2-62.8 140-140 140l-40-282L396 155z" fill="#{{ comentario.face2 }}"/>
                 <path d="M256 19.91v292c-77.2 0-140-62.8-140-140 0 0 15.855-152 140-152z" fill="#{{ comentario.face }}"/>
                 <path d="M396 140v15h-85c-23.82 0-44.96-14.1-54.55-35H256l-30-60 30-60c77.2 0 140 62.8 140 140z" fill="#{{ comentario.hair2 }}"/>
                 <path d="M116 140v32h30v-32c0-39.152 20.564-73.586 51.455-93.084A59.912 59.912 0 0 0 196 60c0 33.08 26.92 60 60 60V0c-77.196 0-140 62.804-140 140z" fill="#{{ comentario.hair }}"/>
                 <circle cx="201.86" cy="175" r="15" fill="#{{ comentario.eyes }}"/>
                 <circle cx="301.86" cy="175" r="15" fill="#{{ comentario.eyes }}"/>
              </svg>
            </div>
            <div class="col-12">
              <p>{{comentario.comment}}</p>
            </div>
          </div>
          <p class="float-end">
            <span>{{comentario.date}}</span>
            <hr>
          </p>
        </div>
        {%endif%}
        {%endfor%}
      </div>
    </div>

    <!-- formulario comment oculto -->
    <form action="/comment/{{ ms.id}}" method="post" hidden id="form_{{ ms.id }}">
      <div class="form-floating mt-2">
        <textarea class="form-control" name="comentario" id=""></textarea>
      </div>
      <div class="text-end mt-4">
        <button type="submit" class="btn btn-info">Post a comment</button>
      </div>
    </form>
  {% endfor %}
</div>
<script>
  let primer_like = ''
  const likes = document.querySelector("#likes");
  const template = document.querySelector("#template");

  const likesObjeto = {};

  const agregarlikes = async (ev , id) => {
    ev.preventDefault()

    console.log('id ',id);
    const h6_lk = document.getElementById(`lkk${id}`)
    
    let num_likes = parseInt(h6_lk.innerHTML)
    
    if (primer_like != id) {
      num_likes++
      h6_lk.innerHTML = num_likes
      await fetch(`/like/${id}`, {
        method: "POST",
        body: JSON.stringify({
          id,
        }),
      })
    }
    primer_like = id

  }

  const showForm = (id) => {
    let comment = document.querySelector('#form_' + id)
    comment.toggleAttribute('hidden')
  }


</script>
{% endblock %}